/* Created by Mitchell Dickau */
/* March 18th 2022 */

#div1 {
    height: 150px;
	width: 80%;
	padding: 0px;
    font-family: Tahoma, Verdana, sans-serif;
    margin: 0 auto;
}
#mapdiv {
    height: 500px;
	width: 80%;
	padding: 10px;
    margin: 0 auto;
	background-color: rgb(175, 210, 210);
    border-style: solid;
	border-width: 1px;
    border-color: black;
}